flask 
flask-cors 
azure-ai-formrecognizer 
azure-search-documents 
azure-storage-blob 
llama-index 
python-dotenv 
nest-asyncio 
PyMuPDF
matplotlib
IPython
azure-core
llama-index
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-vector-stores-azureaisearch==0.2.8
llama-index-multi-modal-llms-azure-openai
llama-parse